@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import 'react-slideshow-image/dist/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: 'Montserrat', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: inherit;
}

body {
    color: #6a6a6a;
    position: relative;
    scroll-behavior: smooth;
}

.title {
    font-size: 2.3rem;
    letter-spacing: -0.15rem;
    line-height: 1.2;
    font-weight: 700;
    position: relative;
    padding-bottom: 0.8rem;
}
.title::after {
    position: absolute;
    content: '';
    width: 5rem;
    height: 3px;
    background-color: #1c2765;
    border-radius: 0.094rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
p,
.paragraph {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
}
.btn {
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    display: inline-block;
    border: 1px solid transparent;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
}
.btn:hover {
    background-color: #161f51;
    color: white;
}
.btn:focus,
.btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
.scrolltotopbtn {
    animation: movebtn 3s linear infinite;
    transition: all 0.5s ease-in-out;
}
@keyframes movebtn {
    0%,100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }
}
.containeur {
    padding-inline: 90px;
    max-width: 1440px;
    margin: 0 auto;
}
nav {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.react-slideshow-container .default-nav {
    background: none;
    /* color: #1c276565; */
}
.owngrid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
.customgrid {
    grid-template-columns: 1fr 0.2fr;
}
.smoothanimation {
    transition: all 0.5s ease 0s;
}
@media (max-width: 976px) {
    .containeur {
        padding-inline: 50px;
    }
    .owngrid,
    .customgrid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 1.5rem;
    }
    .containeur {
        padding-inline: 20px;
    }
}
